{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Pohudei web app</title>
        <link rel="stylesheet" type="text/css" href="{% static 'main/base.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'main/favicon.ico' %}"/>
        {% block css %}{% endblock css %}
    </head>
    <body>

        {# <div class="home menu-button {% if "home" in request.path %}primary-url{% else %}secondary-url{% endif %}"> #}
        {#     <a class="a-btn" href="{% url 'home' %}">Home</a> #}
        {# </div> #}

        <div class="menu">
            {# <div class="menu-btn"> <a href="{% url 'home' %}">Главная</a> </div> #}
            {% if user.is_authenticated %}
                <div class="menu-btn {% if "weight" in request.path %}active-btn{% else %}inactive-btn{% endif %}"> <a href="{% url 'weight' %}">Вес</a> </div>
                <div class="menu-btn {% if "diary" in request.path %}active-btn{% else %}inactive-btn{% endif %}"> <a href="{% url 'diary' %}">Еда</a> </div>
                <div class="menu-btn {% if "stats" in request.path %}active-btn{% else %}inactive-btn{% endif %}"> <a href="{% url 'stats' %}">Стат.</a> </div>
            {% endif %}
            {# {% if user.is_authenticated %} <div class="menu-btn logout inactive-btn"><a class="a-btn" href="{% url 'logout' %}">Выйти</a></div> {% endif %} #}
            {% if not user.is_authenticated %}
                <div class="menu-btn login inactive-btn"><a class="a-btn" href="{% url 'login' %}">Вход</a></div>
                <div class="menu-btn register inactive-btn"><a class="a-btn" href="{% url 'register' %}">Рег</a></div>
            {% endif %}
        </div>


        {% block content %}{% endblock content %}

        {% block js %}{% endblock js %}

    </body>
</html>


