{% extends 'main/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/diary.css' %}">
{% endblock css %}

{% block content %}

    <div id="pages">
        <div class="prev"><a href="{% url 'diary' date_iso=data.dates.prev_day_iso %}">⬅️ {{ data.dates.prev_day_human }}</a></div>
        {# <div class="this this-date-div"> {{ data.dates.this_day_human }}🗓️ <input id="choose-date" type="date" value="{{ data.dates.this_day_iso }}"/> </div> #}
        <div class="this this-date-div"> Выбрать 🗓️ <input id="choose-date" type="date" value="{{ data.dates.this_day_iso }}"/> </div>
        <div class="next"><a href="{% url 'diary' date_iso=data.dates.next_day_iso %}">{{ data.dates.next_day_human }} ➡️</a></div>
    </div>

    <div id="main-weight">
        <div class="warning this-days-weight-warning"></div>
        <div class="header this-days-weight-header"></div>
        <input class="input-date this-days-weight-input" type='number'/>
    </div>

    {# <div id="bmi"> #}
    {#     <div class="bmi-chart"> #}
    {#         <div class="deficit"></div> #}
    {#         <div class="norm"></div> #}
    {#         <div class="excess"></div> #}
    {#         <div class="obesity1"></div> #}
    {#         <div class="obesity2"></div> #}
    {#         <div class="obesity3"></div> #}
    {#     </div> #}
    {# </div> #}

    <div id="daily-norm">
        <span class="norm-txt">Норма на сегодня: </span>
        <b><span class="norm-val"></span></b>
        <span class="norm-txt"> ккал.</span>
    </div>

    <div id="daily-curr">
        <span class="curr-txt">Уже съедено: </span>
        <b><span class="curr-kcals"></span></b>
        <span class="curr-txt"> ккал.</span>
        <b><span class="curr-perc"></span></b>
        <span class="curr-txt">%</span>
    </div>

    <div id="main-table"></div>

    <div class="floaty-search">
        <div class="results-wrap">
            <div class="container floaty-search-results-cont">
            </div>
        </div>
        <div class="controls-wrap">
            <div class="controls">
                <input class="input-field floaty-search-input-field" type='text'/>
                <div class="cancel-btn floaty-search-cancel-btn">❌</div>
            </div>
        </div>
    </div>

    <div class="floaty-add-new">
        <div class="wrapper">
            <div class="container floaty-add-container">
                <div class="name floaty-add-name"></div>
                <div class="info floaty-add-info"></div>
                <div class="input-div">
                    <input class="input-field floaty-add-input" type='number'/>
                </div>
                <div class="controls">
                    <div class="no floaty-add-no">❌</div>
                    <div class="yes floaty-add-yes">✅</div>
                </div>
            </div>
        </div>
    </div>

    <div class="floaty-edit">
        <div class="container">
            <div class="header-div">
                <div class="name-head">Редактирование записи:</div>
                <div class="name-food floaty-edit-header"></div>
            </div>
            <div class="update-weight-wrap">
                <div class="inputs-cont">
                    <div class="input-div-new">
                        <div class="header">Новый вес:</div>
                        <input class="input-field floaty-edit-weight-input-new" type='number'/>
                    </div>
                    <div class="input-div-change">
                        <div class="header">Изменить на:</div>
                        <input class="input-field floaty-edit-weight-input-change" type='number'/>
                    </div>
                </div>
                <div class="update-info floaty-edit-update-info"></div>
                <div class="update-btn floaty-edit-update-btn">Обновить вес</div>
            </div>
            <div class="delete-div">
                <div class="delete-btn floaty-edit-delete-btn">Удалить запись</div>
                <div class="yes-delete-btn floaty-edit-yes-delete-btn">ДА, УДАЛИТЬ!</div>
            </div>
            <div class="cancel-div">
                <div class="cancel-btn floaty-edit-cancel-btn">Отмена</div>
            </div>
        </div>
    </div>

    <div class="floaty-info">
        <div class="container">
            <div class="header floaty-info-header"></div>
        </div>
    </div>

    {% csrf_token %}
    {{ data|json_script:'data' }}
{% endblock content %}

{% block useful-fn %}
    <div id="add-food">Добавить продукт...</div>
{% endblock useful-fn %}

{% block js %}
    <script src="{% static 'main/diary.js' %}" defer></script>
{% endblock js %}
