{% extends 'main/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/diary.css' %}">
{% endblock css %}

{% block content %}
    <h2>Дневник</h2>
    <div id="daily_norm"></div>
    <div class="table"></div>
    {# <table cellspacing="0" id="main_table"></table> #}
    {% csrf_token %}
    {{ data|json_script:'data' }}
{% endblock content %}

{% block js %}
    <script src="{% static 'main/diary.js' %}" defer></script>
{% endblock js %}

