{% extends 'main/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/options.css' %}">
{% endblock css %}

{% block content %}

    <div id="options">
        <div class="height">
            <div class="headline">Рост (см.):</div>
            <input class="height-num" type="number"/>
            {# <button class="height-save" type="submit"> 💾 </button> #}
        </div>
        <div class="use-coeffs">
            <div class="headline">Коэффициенты</div>
            <input type="checkbox" class="use-coeffs-tick">
        </div>
    </div>

    {% csrf_token %}
    {{ data|json_script:'data' }}

{% endblock content %}

{% block useful-fn %}
    <div class="save active" type="submit"> Сохранить </div>
{% endblock useful-fn %}

{% block js %}
    <script src="{% static 'main/options.js' %}" defer></script>
{% endblock js %}
