{% extends 'main/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/stats.css' %}">
{% endblock css %}

{% block content %}

    <div class="main-div">
        <div class="helth-chart-container-90 chart-container">
            <div class="chart-header">Здоровая еда за 3 месяца</div>
            <canvas id="helthChart90"></canvas>
        </div>
        <div class="weight-chart-container-90 chart-container">
            <div class="chart-header">Вес за последние 3 месяца</div>
            <canvas id="weightChart90"></canvas>
        </div>
        <div class="kcals-chart-container-90 chart-container">
            <div class="chart-header">Калории за последние 3 месяца</div>
            <canvas id="kcalsChart90"></canvas>
        </div>
        <div class="helth-chart-container chart-container">
            <div class="chart-header">Здоровая еда за всё время</div>
            <canvas id="helthChart"></canvas>
        </div>
        <div class="weight-chart-container chart-container">
            <div class="chart-header">Вес за всё время</div>
            <canvas id="weightChart"></canvas>
        </div>
        <div class="kcals-chart-container chart-container">
            <div class="chart-header">Калории за всё время</div>
            <canvas id="kcalsChart"></canvas>
        </div>
    </div>

    {# {% csrf_token %} #}
    {{ data|json_script:'data' }}

{% endblock content %}

{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const data = JSON.parse(document.getElementById('data').textContent)
        console.log(data)

        document.querySelector('.helth-chart-container-90').style.display = 'block'
        const ctxHelth90 = document.querySelector('#helthChart90');
        new Chart(ctxHelth90, {
            type: 'bar',
            data: {
                datasets: [
                {
                    label: 'Здоровая',
                    data: data['helth_chart_short']['good'].slice(-90),
                    order: 3,
                    backgroundColor: '#4caf50',
                },
                {
                    label: 'Нейтральня',
                    data: data['helth_chart_short']['ok'].slice(-90),
                    order: 2,
                    backgroundColor: '#e9e9e9',
                },
                {
                    label: 'Вредная',
                    data: data['helth_chart_short']['bad'].slice(-90),
                    order: 1,
                    backgroundColor: '#cb0000',
                }
            ]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    x: {
                        stacked: true,
                    },
                    y: {
                        stacked: true,
                        beginAtZero: true
                    }
                },
                plugins: {
                },
            },
        });

        document.querySelector('.weight-chart-container-90').style.display = 'block'
        const ctxWeight90 = document.querySelector('#weightChart90');
        new Chart(ctxWeight90, {
            type: 'line',
            data: {
                datasets: [{
                    label: 'Вес',
                    data: data['weights_chart']['normal'].slice(-90),
                    borderWidth: 2,
                    pointRadius: 1,
                    tension: 0.5,
                    order: 2,
                    borderColor: '#2352ff91',
                },{
                    label: 'Среднее',
                    data: data['weights_chart']['average'].slice(-90),
                    borderWidth: 2,
                    pointRadius: 1,
                    tension: 1.0,
                    order: 1,
                    borderColor: '#ff0000a8',
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    y: {
                    }
                },
                plugins: {
                },
            },
        });

        document.querySelector('.kcals-chart-container-90').style.display = 'block'
        const ctxKcals90 = document.querySelector('#kcalsChart90');
        new Chart(ctxKcals90, {
            data: {
                datasets: [{
                    type: 'bar',
                    label: 'Съедено',
                    data: data['kcals_chart']['eaten'].slice(-90),
                    borderWidth: 2,
                    order: 2,
                    borderColor: '#2352ff91',
                },{
                    type: 'line',
                    label: 'Норма',
                    data: data['kcals_chart']['target'].slice(-90),
                    borderWidth: 3,
                    pointRadius: 0,
                    tension: 0.3,
                    order: 1,
                    borderColor: '#ff0000a8',
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    y: {
                        beginAtZero: true,
                    }
                },
                plugins: {
                },
            }
        });

        if (data['helth_chart_long']['ok'].length > 90) {
            document.querySelector('.helth-chart-container').style.display = 'block'
            const ctxHelth = document.querySelector('#helthChart');
            new Chart(ctxHelth, {
                type: 'bar',
                data: {
                    datasets: [
                        {
                            label: 'Здоровая',
                            data: data['helth_chart_long']['good'].slice(-90),
                            order: 3,
                            backgroundColor: '#4caf50',
                        },
                        {
                            label: 'Нейтральня',
                            data: data['helth_chart_long']['ok'].slice(-90),
                            order: 2,
                            backgroundColor: '#e9e9e9',
                        },
                        {
                            label: 'Вредная',
                            data: data['helth_chart_long']['bad'].slice(-90),
                            order: 1,
                            backgroundColor: '#cb0000',
                        }
                    ]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        x: {
                            stacked: true,
                        },
                        y: {
                            stacked: true,
                            beginAtZero: true
                        }
                    },
                    plugins: {
                    },
                },
            });
        }

        if (data['weights_chart']['normal'].length > 90) {
            const ctxWeight = document.querySelector('#weightChart');
            new Chart(ctxWeight, {
                type: 'line',
                data: {
                    datasets: [{
                        label: 'Вес',
                        data: data['weights_chart']['normal'],
                        borderWidth: 2,
                        pointRadius: 1,
                        order: 2,
                        borderColor: '#2352ff91',
                    },{
                        label: 'Среднее',
                        data: data['weights_chart']['average'],
                        borderWidth: 2,
                        pointRadius: 0,
                        order: 1,
                        borderColor: '#ff0000a8',
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        y: {
                        }
                    },
                    plugins: {
                    },

                }
            });
        }

        if (data['kcals_chart']['eaten'].length > 90) {
            const ctxKcals = document.querySelector('#kcalsChart');
            new Chart(ctxKcals, {
                data: {
                    datasets: [{
                        type: 'bar',
                        label: 'Съедено',
                        data: data['kcals_chart']['eaten'],
                        borderWidth: 2,
                        order: 2,
                        borderColor: '#2352ff91',
                    },{
                        type: 'line',
                        label: 'Норма',
                        data: data['kcals_chart']['target'],
                        borderWidth: 3,
                        pointRadius: 0,
                        tension: 0.3,
                        order: 1,
                        borderColor: '#ff0000a8',
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        y: {
                            beginAtZero: true,
                        }
                    },
                    plugins: {
                    },
                },
            });
        }

    </script>

    {# <script src="{% static 'main/stats.js' %}" defer></script> #}
{% endblock js %}
