{% extends 'main/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/stats.css' %}">
{% endblock css %}

{% block content %}

    <div class="main-div">
        <div class="weight-chart-container">
            <canvas id="weightChart"></canvas>
        </div>
    </div>

    {# {% csrf_token %} #}
    {{ data|json_script:'data' }}
    {{ dates|json_script:'dates' }}
    {{ weights|json_script:'weights' }}

{% endblock content %}

{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const data = JSON.parse(document.getElementById('data').textContent)
        {# console.log(data) #}

        let humanDates = []
        for (let idate of data['dates']) {
            const dateFromString = new Date(idate)
            humanDates.push(dateFromString.toLocaleString('ru', {month: 'short', day: 'numeric'}))
        }

        let rawWeights = []
        for (let i in data['weights']) {
            rawWeights.push({'x': humanDates[i], 'y': parseFloat(data['weights'][i])})
        }

        let averageWeights = []
        for (let i in data['weights']) {
            let j = 0
            if (i-6 <= 0) { j = 0 } else { j = i-6 }
            const tmpAvrgArr = data['weights'].slice(j,parseInt(i)+1)
            const sum = tmpAvrgArr.reduce( ( a, b ) => parseFloat(a) + parseFloat(b), 0 )
            const avg = sum / tmpAvrgArr.length

            averageWeights.push({'x': humanDates[i], 'y': avg})
        }

        const ctx = document.querySelector('#weightChart');
        new Chart(ctx, {
            type: 'line',
            data: {
                datasets: [{
                    label: 'Килограммчики',
                    data: rawWeights,
                    borderWidth: 2,
                    pointRadius: 2,
                    tension: 0.3,
                    order: 2,
                },{
                    label: 'Средненькое',
                    data: averageWeights,
                    borderWidth: 3,
                    pointRadius: 2,
                    tension: 0.3,
                    order: 1,
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    y: {
                        {# beginAtZero: true #}
                    }
                }
            }
        });

    </script>

    <script src="{% static 'main/stats.js' %}" defer></script>
{% endblock js %}
