{% extends 'main/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/weight.css' %}">
{% endblock css %}

{% block content %}

    <div class="main-table"></div>

    <div class="add-weight-btn">Добавить вес...</div>

    {# <div class="slug"></div> #}

    <div class="floaty-info">
        <div class="cont">
            <div class="floaty-info-message"></div>
        </div>
    </div>

    <div class="floaty-add">
        <div class="cont">
            <div class="sub-cont">
                <div class="add-header">Новый вес</div>
            </div>
            <div class="sub-cont sub-cont-date">
                <div class="div-date-warn">Дата в формате 2022-12-31</div>
                <div class="div-date-name">Дата:</div>
                <input class="input-date" type='text'/>
            </div>
            <div class="sub-cont sub-cont-weight">
                <div class="div-weight-warn">Вводите вес в формате 99.9</div>
                <div class="div-weight-name">Вес:</div>
                <input class="input-weight floaty-add-input" type='number'/>
            </div>
            <div class="sub-cont">
                <div class="send-btn floaty-add-send-btn">Добавить</div>
            </div>
            <div class="sub-cont">
                <div class="cancel-btn floaty-add-cancel-btn">Отмена</div>
            </div>
        </div>
    </div>

    <div class="floaty-edit">
        <div class="cont">
            <div class="sub-cont">
                <div class="edit-header"></div>
            </div>
            <div class="sub-cont sub-cont-weight">
                <div class="edit-warn floaty-edit-warn">Вводите вес в формате 99.9</div>
                <div class="edit-name">Новый вес:</div>
                <input class="edit-input floaty-edit-input" type='number'/>
                <div class="edit-update floaty-edit-update">Обновить</div>
            </div>
            <div class="sub-cont">
                <div class="edit-delete floaty-edit-delete">Удалить</div>
                <div class="edit-delete-yes floaty-edit-delete-yes">ДА, УДАЛИТЬ!</div>
            </div>
            <div class="sub-cont">
                <div class="edit-cancel floaty-edit-cancel">Отмена</div>
            </div>
        </div>
    </div>

    {% csrf_token %}
    {{ data|json_script:'data' }}
{% endblock content %}

{% block js %}
    <script src="{% static 'main/weight.js' %}" defer></script>
{% endblock js %}
