body {
    font-family: Helvetica, sans-serif;
    user-select: none;
}

#test-input {
    font-size: 2em;
}

.main {
    height: 99%;
}
.main-content {
    height: calc(100vh - 21vw);
    overflow: auto;
}
.main-menu {
    display: flex;
    align: center;
    width: 99%;
    height: 15vw;
    /* height: 55px; */
    /* position: fixed; */
    /* bottom: 0; */
    /* right: 0; */
    gap: 5px;
    background-color: white;
    /* justify-content: space-evenly; */
}
.menu-btn {
    /* display: flex; */
    flex-grow: 1;
    border: 1px solid grey;
    /* align-items: center; */
    /* justify-content: center; */
}
.menu-btn > a {
    display: flex;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.75em;
    /* padding: 10px 0px; */
    width: 100%;
    /* align: center; */
    /* align-items: center; */
    justify-content: center;
    /* display: block; */
    /* overflow: auto; */
}
.active-btn {
    background-color: green;
}
.active-btn > a {
    color: white;
}
.inactive-btn {
    background-color: white;
}
.inactive-btn > a {
    color: green;
}
