body {
    margin: 0px 0px;
    padding: 5px 5px;
    font-family: Helvetica, sans-serif;
    /* font-family: sans-serif; */
    /* font-family: Helvetica; */
    user-select: none;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.main {
    flex-grow: 1;
    height: calc(100vh - 10px);
    max-width: 400px;
    grid-template-rows: auto min-content;
    display: grid;
}

.main-content {
    grid-row: 1;
    /* width: calc(100vw - 10px); */
    overflow: auto;
}

.main-menu {
    grid-row: 2;
    display: flex;
    align: center;
    /* width: calc(100vw - 10px); */
    gap: 5px;
    background-color: white;
    margin-top: 5px;
}

.menu-btn {
    /* flex-grow: 1; */
    border: 1px solid grey;
}

.menu-btn > a {
    display: flex;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.75em;
    padding: 10px 0px;
    justify-content: center;
}

.active-btn {
    background-color: green;
}

.active-btn > a {
    color: white;
}

.inactive-btn {
    background-color: white;
}

.inactive-btn > a {
    color: green;
}
