#pages {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 5px;
}

#pages > div {
    display: flex;
    align-items: center;
    justify-content: center;

    color: black;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    border: 3px solid green;
    width: 33vw;
    height: 100%;
    text-align: center;
    font-size: 1.2em;
    padding: 3px 0px;
    height: 29px;
}
#pages > div > a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}
#choose-date {
    /* width: 33vw; */
    /* width: 100%; */
    width: 0px;
    /* height: 100%; */
    /* height: 20px; */
    /* font-size: 1.3em; */
    border: 0px;
}


#main-table {
    display: table;
    border-collapse: collapse;
}
#daily-norm, #daily-curr {
    font-size: 1.2em;
    height: 27px;
}
.row {
    display: table-row;
    height: 35px;
    font-size: 1.15em;
}
.cell {
    display: table-cell;
    padding: 1px 3px;
    vertical-align: middle;
    border: 1px solid gray;
}
.cell-head {
    text-align: center;
    font-weight: bold;
}
.cell-num, .cell-w, .cell-k, .cell-p {
    text-align: right;
}
.cell-name {
    font-size: 85%;
    width: 100%;
}



#main-weight {
    display: flex;
    flex-wrap: wrap;
    /* margin-bottom: 2vh; */
    margin-bottom: 5px;
    /* font-size: 1.5em; */
    align-items: center;
    justify-content: center;
}
#main-weight > .warning {
    display: none;
    width: 100%;
    text-align: center;
    font-size: 1.0em;
    font-weight: 700;
    /* margin-top: 10px; */
    margin-bottom: 6px;
    padding: 4px 0px;
    border: 3px solid orange;
}
#main-weight > .header {
    flex-grow: 1;
    font-size: 1.4em;
    padding: 7px 3px;
    white-space: nowrap;
}
#main-weight > .input-date {
    flex-grow: 3;
    width: 50px;
    font-size: 1.6em;
    font-weight: 700;
    text-align: center;
    padding: 3px 0px;
    border: 3px solid green;
}









#add-food {
    text-align: center;
    font-weight: 700;
    font-size: 150%;
    padding: 6px 0px;
    background-color: white;
    border: 3px solid green;
    color: green;
}

/***** FLOATY WINDOW | SEARCH FOOD *******************************************/

.floaty-search {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 0px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
}

.floaty-search > .results-wrap {
    margin-top: 0px;
    padding: 0;
    height: calc(100% - 65px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.floaty-search > .results-wrap > .container {
    overflow: auto;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: -webkit-fill-available;
}

.floaty-search > .results-wrap > .container > .float-results-line {
    width: -webkit-fill-available;
    font-size: 125%;
    padding: 7px 7px;
    margin: 7px 0px 0px 0px;
    color: white;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
}

.floaty-search > .controls-wrap {
    height: 50px;
    margin: 10px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.floaty-search > .controls-wrap > .controls {
    display: flex;
    max-width: 400px;
    padding: 0px 10px;
}

.floaty-search > .controls-wrap > .controls > .input-field {
    font-size: 200%;
    width: calc(100% - 58px);
    margin-right: 10px;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-weight: 700;
    padding-left: 10px;
}

.floaty-search > .controls-wrap > .controls > .cancel-btn {
    font-size: 250%;
}

.floaty-search > .controls-wrap > .controls > .input-field, .cancel-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

/***** FLOATY WINDOW | ADD NEW DIARY ENTRY ***********************************/

.floaty-add-new {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 0px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
}

.floaty-add-new > .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.floaty-add-new > .wrapper > .container {
    margin: 25px 25px;
    max-width: 400px;
}

.floaty-add-new > .wrapper > .container > .name, .info, .input-div, .controls {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
    margin: 9px 0px;
}

.floaty-add-new > .wrapper > .container > .name {
    font-size: 125%;
    padding: 7px 7px;
    color: white;
}

.floaty-add-new > .wrapper > .container > .info {
    padding: 7px 7px;
    color: white;
    text-align: center;
}

.floaty-add-new > .wrapper > .container > .input-div {
    width: 100%;
}

.floaty-add-new > .wrapper > .container > .input-div > .input-field {
    font-size: 200%;
    background: transparent;
    color: white;
    font-weight: 700;
    width: 98%;
    text-align: center;
}

.floaty-add-new > .wrapper > .container > .controls {
    display: flex;
    justify-content: space-evenly;
}

.floaty-add-new > .wrapper > .container > .controls > .no, .yes {
    font-size: 250%;
    margin: 10px 0px;
}

/***** FLOATY WINDOW | EDIT DIARY ENTRY **************************************/

.floaty-edit {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 0px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
}

.floaty-edit > .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.floaty-edit > .container > .header-div, .update-weight-wrap, .delete-div, .cancel-div {
    width: calc(100% - 20px);
    max-width: 380px;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
    padding: 10px 10px;
    margin: 5px 0px;
    text-align: center;
    font-size: 1.5em;
    color: white;
    font-weight: 700;
}

.floaty-edit > .container > .header-div {
    font-size: 1.0em;
}

.floaty-edit > .container > .header-div > .name-food {
    margin-top: 10px;
}

.floaty-edit > .container > .update-weight-wrap > .inputs-cont {
    display: flex;
    justify-content: center;
}

.floaty-edit > .container > .update-weight-wrap > .inputs-cont > .input-div-new, .input-div-change {
    font-size: 16px;
    padding: 0px 5px;
}

.floaty-edit > .container > .update-weight-wrap > .inputs-cont > .input-div-new > .input-field, .input-div-change > .input-field {
    font-size: 1.5em;
    background: transparent;
    color: white;
    font-weight: 700;
    width: 80%;
    text-align: center;
    margin-top: 5px;
}
.floaty-edit > .container > .update-weight-wrap > .update-info {
    display: none;
    font-size: 0.6em;
    margin-top: 10px;
    color: orange;
    border: 3px solid orange;
}

.floaty-edit > .container > .update-weight-wrap > .update-btn {
    font-size: 1.1em;
    margin-top: 10px;
    border: 3px solid green;
}

.floaty-edit > .container > .delete-div > .delete-btn, .yes-delete-btn {
    font-size: 1.1em;
}

.floaty-edit > .container > .delete-div > .delete-btn {
    border: 3px solid red;
}

.floaty-edit > .container > .delete-div > .yes-delete-btn {
    display: none;
    background: red;
    margin-top: 10px;
}

/***** FLOATY WINDOW | INFO WINDOW *******************************************/

.floaty-info {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 0px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
}

.floaty-info > .container {
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    margin: 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.floaty-info > .container > .header {
    font-size: 200%;
    color: white;
    font-weight: 700;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    padding: 10px 20px;
}
