.table {
    display: table;
}
.row {
    display: table-row;
}
.cell {
    display: table-cell;
}
/* .cell-num { */
/*     display: grid; */
/*     grid-template-columns: subgrid; */
/*     grid-column: 1 */
/* } */
/* .cell-name { */
/*     display: grid; */
/*     grid-template-columns: subgrid; */
/*     grid-column: 2 */
/* } */
/* .cell-w { */
/*     display: grid; */
/*     grid-template-columns: subgrid; */
/*     grid-column: 3 */
/* } */
/* .cell-k { */
/*     display: grid; */
/*     grid-template-columns: subgrid; */
/*     grid-column: 4 */
/* } */
/* .cell-p { */
/*     display: grid; */
/*     grid-template-columns: subgrid; */
/*     grid-column: 5 */
/* } */
