#main-table {
    display: table;
    border-collapse: collapse;
    /* font-size: 105%; */
    /* width: calc(100vw - 10px); */
}
#daily-norm, #daily-curr {
    font-size: 120%;
    height: 27px;
}
.row {
    display: table-row;
    height: 35px;
    font-size: 115%;
    /* height: 70px; */
    /* pointer-events: auto; */
}
.cell {
    display: table-cell;
    padding: 1px 3px;
    vertical-align: middle;
    border: 1px solid gray;
    /* pointer-events: none; */
}
.cell-head {
    text-align: center;
    font-weight: bold;
}
.cell-num, .cell-w, .cell-k, .cell-p {
    text-align: right;
}
.cell-name {
    font-size: 85%;
    width: 100%;
}
/* .cell-foot { */
/*     font-weight: bold; */
/* } */


#add-food {
    margin: 8px 0px;
    padding: 12px 0px;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
    background-color: green;
    color: white;
}
/* #slug { */
/*     height: 55px; */
/* } */


#float-dimming-search {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 0px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}
#float-results-wrap {
    margin-top: 0px; /* Location of the box */
    padding: 0;
    width: calc(100% - 50px);
    height: calc(100% - 75px);
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
#float-results-cont {
    overflow: auto;
}
.float-results-line {
    width: 80vw;
    font-size: 125%;
    padding: 7px 7px;
    margin: 7px 0px;
    color: white;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}
#float-controls{
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    bottom: 0;
    width: calc(100% - 50px);
    height: 50px; /* Full height */
    margin-bottom: 0px; /* Location of the box */
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
}
#float-input{
    font-size: 200%;
    width: calc(100% - 58px);
    margin-right: 10px;
    /* background: transparent; */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
    color: white;
    font-weight: 900;
    padding-left: 10px;
}
#float-cancel {
    /* background-color: red; */
    /* color: white; */
    /* font-weight: 900; */
    font-size: 250%;
    /* padding: 0px 0px; */
    /* width: 50px; */
}
#float-input, #float-cancel {
    display: flex;
    justify-content: center;
    align-items: center;
}



#floaty-add-new {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 0px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}
#floaty-add-cont {
    /* margin-top: 0px; /* Location of the box */ */
    /* padding: 0; */
    width: calc(100% - 50px);
    height: calc(100% - 75px);
    margin: 25px 25px;
    /* margin-left: 25px; */
    /* margin-right: 25px; */
}
#floaty-add-name, #floaty-add-info, #floaty-add-div-input, #floaty-add-controls {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
    margin: 9px 0px;
}
#floaty-add-name {
    font-size: 125%;
    padding: 7px 7px;
    color: white;
}
#floaty-add-info {
    /* font-size: 125%; */
    padding: 7px 7px;
    color: white;
    text-align: center;
}
#floaty-add-div-input {
    width: 100%; /* Full width */
}
#floaty-add-input {
    font-size: 200%;
    background: transparent;
    color: white;
    font-weight: 900;
    width: 98%; /* Full width */
    text-align: center;
}
#floaty-add-controls {
    display: flex;
    /* justify-content: center; */
    justify-content: space-evenly;
}
#floaty-add-yes, #floaty-add-no {
    /* display: inline; */
    font-size: 250%;
    margin: 10px 0px;
}




#floaty-info-div {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 0px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
}
#floaty-info-cont {
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    margin: 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#floaty-info-text {
    font-size: 200%;
    color: white;
    font-weight: 900;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    padding: 10px 20px;
}



#floaty-edit {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 0px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}
#floaty-edit > #cont {
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    margin: 25px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
#floaty-edit > #cont > #name-div, #edit-weight-div, #delete-div, #edit-cancel {
    /* width: 100%; */
    width: calc(100% - 20px);
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
    padding: 10px 10px;
    margin: 5px 0px;
    text-align: center;
    font-size: 150%;
    color: white;
    font-weight: 900;
}
#floaty-edit > #cont > #name-div {
    font-size: 100%;
}
#floaty-edit > #cont > #name-div > #name-food {
    margin-top: 10px;
}




#edit-weight-inputs {
    display: flex;
    justify-content: center;
}
#edit-weight-inputs > #edit-weight-cont01, #edit-weight-cont02 {
    font-size: 16px;
    padding: 0px 5px;
}
#edit-weight-inputs > #edit-weight-cont01 > #edit-weight-input-curr, #edit-weight-cont02 > #edit-weight-input-subtract {
    font-size: 1.5em;
    background: transparent;
    color: white;
    font-weight: 900;
    width: 80%;
    text-align: center;
    margin-top: 5px;
}

#floaty-edit > #cont > #edit-weight-div > #update-info {
    display: none;
    font-size: 0.6em;
    margin-top: 10px;
    color: orange;
    border: 3px solid orange;
}
#floaty-edit > #cont > #edit-weight-div > #update-btn {
    font-size: 1.1em;
    margin-top: 10px;
    border: 3px solid green;
}
#floaty-edit > #cont > #delete-div > #delete-btn, #yes-delete-btn {
    font-size: 1.1em;
}
#floaty-edit > #cont > #delete-div > #delete-btn {
    border: 3px solid red;
}
#floaty-edit > #cont > #delete-div > #yes-delete-btn {
    display: none;
    background: red;
    margin-top: 10px;
}
