.options-div > .weights-pull {
    display: grid;
    grid-template-columns: 80% 20%;
}

.options-div > .weights-pull > .headline {
    font-size: 1.5em;
    grid-column: span 2;
}

.options-div > .weights-pull > .weights-pull-num {
    font-size: 1.5em;
    grid-column: span 2;
    /* background: transparent; */
    /* color: white; */
    /* font-weight: 900; */
    /* width: 80%; */
    /* text-align: center; */
    /* margin-top: 5px; */
}

/* .options-div > .weights-pull > .status { */
/*     width: 100%; */
/*     height: 100%; */
/*     background-color: red; */
/* } */
