#options > .height {
    display: grid;
    grid-template-columns: 63% 25% 12%;
}

#options > .height > * {
    margin: 1px 1px;
    font-size: 25px;
}
#options > .height > .headline {
}

#options > .height > .height-num {
}

#options > .height > .height-num {
}
