.main-table {
    display: table;
    border-collapse: collapse;
    /* font-size: 105%; */
    width: 100%;
}

.row {
    display: table-row;
    height: 35px;
    font-size: 115%;
    /* height: 70px; */
    /* pointer-events: auto; */
}

.cell {
    display: table-cell;
    padding: 1px 3px;
    vertical-align: middle;
    border: 1px solid gray;
    /* pointer-events: none; */
}

.cell-head {
    text-align: center;
    font-weight: bold;
}

.cell-num, .cell-w, .cell-k, .cell-p {
    text-align: right;
}

.cell-name {
    font-size: 85%;
}



.add-weight-btn {
    margin-top: 8px;
    padding: 12px 0px;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
    background-color: green;
    color: white;
}
/* .slug { */
/*     height: 55px; */
/* } */



/***** INFO WINDOW ***********************************************************/

.floaty-info {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 0px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
}
.floaty-info > .cont {
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    margin: 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.floaty-info > .cont > .floaty-info-message {
    font-size: 200%;
    color: white;
    font-weight: 900;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    padding: 10px 20px;
}

/***** ADD DIALOGUE **********************************************************/

.floaty-add {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 0px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
}

.floaty-add > .cont {
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    margin: 25px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.floaty-add > .cont > .sub-cont {
    /* width: 100%; */
    width: calc(100% - 20px);
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
    padding: 10px 10px;
    margin: 5px 0px;
    text-align: center;
    color: white;
    font-weight: 900;
}
.floaty-add > .cont > .sub-cont > .add-header {
    font-size: 1.5em;
}
.floaty-add > .cont > .sub-cont > .send-btn {
    font-size: 1.5em;
    border: 3px solid green;
}
.floaty-add > .cont > .sub-cont > .cancel-btn {
    font-size: 1.5em;
    border: 3px solid grey;
}


.floaty-add > .cont > .sub-cont-date, .sub-cont-weight {
    display: grid;
    grid-template-columns: 30% 70%;
}
.floaty-add > .cont > .sub-cont > .div-date-warn, .div-weight-warn {
    display: none;
    grid-column: span 2;
    color: orange;
    border: 3px solid orange;
}
.floaty-add > .cont > .sub-cont > .div-date-name, .div-weight-name {
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.floaty-add > .cont > .sub-cont > .input-date, .floaty-add-input {
    font-size: 2em;
    background: transparent;
    color: white;
    font-weight: 900;
    text-align: center;
}
.floaty-add > .cont > .sub-cont > .input-date {
    font-size: 1.5em;
}

/***** UPDATE DIALOGUE *******************************************************/

.floaty-edit {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 0px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
}

.floaty-edit > .cont {
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    margin: 25px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.floaty-edit > .cont > .sub-cont {
    /* width: 100%; */
    width: calc(100% - 20px);
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
    padding: 10px 10px;
    margin: 5px 0px;
    text-align: center;
    color: white;
    font-weight: 900;
}
.floaty-edit > .cont > .sub-cont > .edit-header {
    font-size: 1.5em;
}
.floaty-edit > .cont > .sub-cont > .edit-update {
    font-size: 1.5em;
    border: 3px solid green;
    margin-top: 10px;
}
.floaty-edit > .cont > .sub-cont > .edit-delete {
    font-size: 1.5em;
    border: 3px solid red;
}
.floaty-edit > .cont > .sub-cont > .edit-delete-yes {
    display: none;
    font-size: 1.5em;
    background-color: red;
    margin-top: 10px;
}
.floaty-edit > .cont > .sub-cont > .edit-cancel {
    font-size: 1.5em;
    border: 3px solid grey;
}
.floaty-edit > .cont > .sub-cont-weight {
    display: grid;
    grid-template-columns: 55% 45%;
}
.floaty-edit > .cont > .sub-cont > .edit-warn {
    display: none;
    grid-column: span 2;
    color: orange;
    border: 3px solid orange;
    margin-bottom: 10px;
}
.floaty-edit > .cont > .sub-cont > .edit-name {
    font-size: 1.5em;
    line-height: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
}
.floaty-edit > .cont > .sub-cont > .edit-input {
    font-size: 2em;
    background: transparent;
    color: white;
    font-weight: 900;
    text-align: center;
}
.floaty-edit > .cont > .sub-cont > .edit-update {
    grid-column: span 2;
}
